/* Colors */
$grey-1: rgba(0, 0, 0, 0.01);
$grey-2: rgba(0, 0, 0, 0.02);
$grey-3: rgba(0, 0, 0, 0.1);
$grey-4: rgba(0, 0, 0, 0.2);
$grey-5: rgba(0, 0, 0, 0.5);
$disabled-text: rgb(34, 34, 34);
$secondary-text: rgba(35, 31, 32, 0.85);
$red-1: rgba(200, 20, 0, 0.8);
$red-2: rgba(130, 20, 0, 0.2);

/* General components */
body {
  margin: 0;
  padding: 0;
  font-family: "system-ui", "Avenir", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h4 {
  font-weight: 500;
}

h4 {
  font-weight: 600;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

.card-form {
  background-color: $grey-2;
  margin: 10vh auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 300px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 4px;
}

.button {
  display: inline-block;
  text-align: center;
  height: 40px;
  margin: 16px 0;
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }
}

/* ----- Result Component ----- */
#result {
  background-color: $grey-2;
  margin: 8vh auto;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 480px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 4px;

  .button {
    margin-right: 4px;

    &.secondary {
      background-color: $grey-5;
    }
  }

  button.link {
    color: blue;
    background: rgba(0, 0, 0, 0);
    margin: 4px 0 16px;
    padding: 0;
    border: none;
    text-align: left;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 250, 0.7);
    }

    &:focus {
      outline: none;
    }
  }

  h4 {
    align-self: flex-start;
  }

  input,
  select {
    background-color: $grey-1;
    margin: 4px 0 22px 0;
    padding: 8px 8px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px rgba(0, 0, 0, 0.2) solid;

    &:disabled {
      background-color: $grey-3;
      cursor: no-drop;
    }
  }

  .form-field-container {
    display: flex;
    flex-wrap: wrap;

    .secondary {
      min-width: 162px;
      flex: 1;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .form-label {
    margin-bottom: 0;
    margin-top: 8px;
  }
}
/* ----- Quiz Component ----- */
.quiz {
  margin: 0;
  padding: 0;
  list-style: none;

  height: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 40px auto;
  }

  button {
    -webkit-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);
    -moz-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);
    box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);
  }

  .question-image {
    margin: 16px auto;
    max-height: 39vh;
    height: auto;
    width: auto;
  }

  .question-sound {
    content: "";
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    background: url("./assets/images/sound_icon.png") no-repeat;
    background-size: 50% 50%;
    background-position: center;
    transition: all 100ms ease-out;

    &:focus {
      outline: none;
    }
  }

  .question-story {
    text-align: center;
    width: 70vw;
    margin: 64px auto;
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
  }

  .next-question {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 12vh;
    background-color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 100ms ease-out;

    &:focus {
      outline: none;
    }
  }
}

/* ----- QuestionCount Component ----- */
.questionCount {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 5vh;

  .progress-circle {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 50px;

    &.light {
      background-color: $grey-3;
    }

    &.dark {
      background-color: $grey-5;
    }
  }
}

/* ----- Question Component ----- */
.question {
  margin: 0 auto;
  padding: 0 64px;
  text-align: center;

  h3 {
    font-size: 24px;
  }

  strong {
    font-size: 40px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25),
      -1px 1px 0 rgba(0, 0, 250, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
}

/* ----- AnswerOption Component ----- */

.answerOptions {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;

  .answerOption {
    .radioCustomLabel {
      position: relative;
      width: 100%;
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    .radioCustomButton {
      content: "";
      cursor: pointer;
      margin: 0 8px;
      width: 160px;
      height: 160px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      transition: all 0.1s;
      overflow: hidden;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);
      -moz-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);
      box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 1);

      .face-option {
        display: block;
        max-width: 220px;
        max-height: 220px;
        width: auto;
        height: auto;
        margin: 0;
        position: relative;
        left: -45px;
      }

      &.voice-option {
        background: url("./assets/images/sound_icon.png");
        background-size: 30% 30%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

/* ----- Identification Component ----- */
#identification {
  margin-top: 20vh;

  .intro {
    margin: 16px;
    h2 {
      margin-bottom: 8px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 32px;
    }
  }

  .radioButtons {
    display: flex;

    input[type="radio"] {
      margin: auto 72px auto 8px;
    }
  }

  .id {
    text-align: left;
    margin-bottom: 0px;
  }

  input[type="text"] {
    margin: 4px 0 24px 0;
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px rgba(0, 0, 0, 0.2) solid;

    &:disabled {
      background-color: $grey-3;
      color: $disabled-text;
      cursor: no-drop;
    }
  }

  button {
    align-self: flex-end;

    &.link {
      color: blue;
      background: rgba(0, 0, 0, 0);
      margin: 4px 0 16px;
      padding: 0;
      border: none;
      text-align: left;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 250, 0.7);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .form-field-container {
    display: flex;
    flex-wrap: wrap;

    .secondary {
      min-width: 162px;
      flex: 1;
    }
  }

  .form-label {
    text-align: left;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

/* ----- Loading Component ----- */
.loading {
  margin: 64px;
}

/* ----- Navbar Component ----- */
.nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;

  .nav-brand img {
    height: 100%;
    width: 60px;
  }

  .nav-links {
    a {
      line-height: 60px;
      margin-left: 32px;
      padding-bottom: 4px;
      font-weight: 500;
      color: black;
      text-decoration: none;
      border-bottom: 2px solid black;
      border-bottom-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease-in-out;

      &:hover {
        border-bottom-color: rgba(0, 0, 0, 1);
      }

      &:visited {
        color: black;
      }
    }
  }

  .nav-right {
    margin-left: auto;

    button {
      line-height: 60px;
      margin: 0 32px;
      padding: 0;
      border: none;
      font-weight: 500;
      font-size: 16px;
      color: black;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: rgba(15, 66, 237, 0.8);
      }
    }
  }
}

/* ----- Admin Home Component ----- */
#admin-home {
  margin: 32px 64px;

  .row {
    display: flex;
    flex-wrap: wrap;

    .card {
      background-color: #e9e8e8;
      height: 225px;
      width: 15vw;
      min-width: 150px;
      margin: 0 40px 40px 0;
      padding: 24px;
      border-radius: 10px;
      -webkit-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 0.3);
      -moz-box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 0.3);
      box-shadow: 1px 3px 10px -1px rgba(125, 125, 125, 0.3);

      .card-title {
        font-size: 16px;
        font-weight: 700;
      }

      .card-date {
        font-size: 12px;
        font-weight: 400;
        color: $secondary-text;
      }
    }
  }
}

/* ----- Sessions/Quizzes Component ----- */
#sessions,
#quizzes {
  margin: 32px 64px;

  .header-div {
    display: flex;

    .add-button {
      margin: auto 0;

      button {
        width: 32px;
        height: 32px;
        margin: auto 16px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        border: 2px rgba(0, 0, 0, 0.5) solid;

        &:hover {
          background-color: rgba(15, 66, 237, 0.1);
        }

        &:active {
          background-color: rgba(15, 66, 237, 0.3);
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  table {
    width: 100%;
    padding: 16px;
    background-color: $grey-2;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      &:first-child {
        background-color: rgba(0, 0, 0, 0.05);

        th:first-child {
          border-top-left-radius: 10px;
        }

        th:last-child {
          border-top-right-radius: 10px;
        }
      }

      &:last-child {
        td:first-child {
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-bottom-right-radius: 10px;
        }
      }

      &:nth-child(n + 2):hover {
        background-color: rgba(15, 66, 237, 0.1);
        border-radius: 10px;
      }

      &:nth-child(n + 2):active {
        background-color: rgba(15, 66, 237, 0.3);
      }

      th,
      td {
        padding: 16px 32px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
}

/* ----- New Session/Quiz Component ----- */
.new-form {
  margin: 32px 64px;

  .header-div {
    display: flex;

    .delete-button {
      margin: auto 8px;
      font-size: 24px;

      &:hover {
        color: $red-1;
      }
    }

    .add-button {
      width: 24px;
      height: 24px;
      margin: auto 8px 0;
      padding: 0;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      border: 2px rgba(0, 0, 0, 0.5) solid;

      &:disabled {
        background-color: $grey-4;
        color: $disabled-text;
        border: 2px $disabled-text solid;

        &:hover {
          background-color: $red-2;
        }
      }

      &:hover {
        background-color: rgba(15, 66, 237, 0.1);
      }

      &:active {
        background-color: rgba(15, 66, 237, 0.3);
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .form-field-container {
    display: flex;
    flex-wrap: wrap;
  }

  .form-left,
  .form-right {
    flex: 1;
    margin-right: 64px;
    min-width: 250px;

    &.secondary {
      margin-right: 16px;
      min-width: 150px;
    }
  }

  .form-label {
    margin-bottom: 0;
    margin-top: 8px;
  }

  input,
  select {
    background-color: $grey-1;
    margin: 6px 0 18px 0;
    padding: 8px 8px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px rgba(0, 0, 0, 0.2) solid;

    &:disabled {
      background-color: $grey-3;
      color: $disabled-text;
      cursor: no-drop;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
      width: 100%;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    .modal-main {
      position: fixed;
      background: white;
      width: 40%;
      min-width: 400px;
      height: auto;
      padding: 32px 32px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        margin-bottom: 32px;
      }

      .close-button {
        width: 36px;
        height: 36px;
        margin-left: auto;
        padding: 0;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        border: 2px rgba(0, 0, 0, 0.5) solid;

        &:hover {
          background-color: rgba(15, 66, 237, 0.1);
        }

        &:active {
          background-color: rgba(15, 66, 237, 0.3);
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }
}

/* ----- Participant Component ----- */
.participant {
  display: flex;
  background-color: $grey-3;
  border: 2px $grey-4 solid;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;

  button {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    border-radius: 100px;
    border: none;

    &:disabled {
      visibility: hidden;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $red-1;
    }
  }
}

/* ----- New Question Component ----- */
.new-question {
  display: flex;
  flex-direction: column;
  background-color: $grey-3;
  border: 2px $grey-4 solid;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;

  button {
    position: relative;
    height: 0px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    border-radius: 100px;
    border: none;

    &:disabled {
      visibility: hidden;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $red-1;
    }
  }

  .row {
    margin: 8px 0;
  }
}

/* ----- Checkin Component ----- */
#checkin {
  background-color: $grey-2;
  margin: 12vh auto;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-radius: 4px;

  .button {
    margin-right: 4px;

    &.secondary {
      background-color: $grey-5;
    }
  }

  button.link {
    color: blue;
    background: rgba(0, 0, 0, 0);
    margin: 4px 0 16px;
    padding: 0;
    border: none;
    text-align: left;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 250, 0.7);
    }

    &:focus {
      outline: none;
    }
  }

  input,
  select {
    background-color: $grey-1;
    margin: 8px 0 24px 0;
    padding: 8px 8px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px rgba(0, 0, 0, 0.2) solid;

    &:disabled {
      background-color: $grey-3;
      cursor: no-drop;
    }
  }

  .form-field-container {
    display: flex;
    flex-wrap: wrap;

    .secondary {
      min-width: 162px;
      flex: 1;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .form-label {
    margin-bottom: 0;
    margin-top: 8px;
  }
}
